/.idea/
/bin/
/dist/
/NlpToolkit_MorphologicalDisambiguation.egg-info/
/lib/python3.7/site-packages/
MorphologicalDisambiguation/__pycache__/__init__.cpython-37.pyc
MorphologicalDisambiguation/__pycache__/RootWordStatistics.cpython-37.pyc
.venv/
venv/
__pycache__/
*.pyc
dataset/
dataset_with_sentence_graphs.json
dataset smaller version exp.json
dataset.zip